<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Registro Agricultor - Fenosys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <link href="/assets/css/animate.min.css" rel="stylesheet" type="text/css" />

    <!-- css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="vh-100 bg-light" style="background: url(/assets/images/overlay-1.png) center;">
    <div class="preloader">
        <div class="status">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
        </div>
    </div>


    

    <div class="contain-box">
        <div class="home-btn">
            <a href="" class="back-button text-primary h5"><i class="mdi mdi-arrow-left mr-1"></i> Retroceder</a>
        </div>
        <div class="home-center">
            <div class="home-desc-center">
                
                <div class="container">
                    <div class="row justify-content-center align-items center">
                        <div class="col-lg-6">
                            <div class="text-center animate__animated animate__fadeInLeft">
                                <a href="" class="imagenRegistro"><img src="/assets/images/LogoFenosys.png" alt="" height="50" /></a>

                                <p class="text-muted mt-3"></p>
                            </div>

                            <div
                                class="cartita clasesita p-5 mt-5 px-3 rounded bg-white animate__animated animate__fadeInRight">
                                <div class="text-center">
                                    <h4 class="text-primary textoAgricultor">Registro Agricultor</h4>
                                </div>

                                <div class="custom-form">
                                    <form name="agricultorSignupForm" [formGroup]="agricultorSignupForm" (ngSubmit)="SignUpAgricultor()">
                                        <div class="form-group">
                                            <label for="nombres" class="letraRegistro nombreRegistro" style="font-size: 1.4vh; font-weight: bolder;">Nombres</label>
                                            <input type="text" (input)="this.AlertDefault()" class="form-control" id="nombres" placeholder="Ingrese sus Nombres" formControlName="nombreUsuario" required
                                            [ngClass]="{
                                                'is-invalid': agricultorSignupForm.controls['nombreUsuario'].invalid && 
                                                             (agricultorSignupForm.controls['nombreUsuario'].dirty || 
                                                              agricultorSignupForm.controls['nombreUsuario'].touched) , 
                                                'is-valid':   agricultorSignupForm.controls['nombreUsuario'].valid}" />
                                        
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['nombreUsuario'].hasError('required')">
                                                    No puede dejar este campo vacío
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['nombreUsuario'].hasError('minlength')">
                                                    Debe contener al menos 2 caracteres
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['nombreUsuario'].hasError('maxlength')">
                                                    Debe contener como maximo 50 caracteres
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['nombreUsuario'].hasError('pattern')">
                                                    Caracteres no permitidos
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="apellidos" class="letraRegistro" style="font-size: 1.4vh; font-weight: bolder;">Apellidos</label>
                                            <input type="text" (input)="this.AlertDefault()" class="form-control" id="apellidos" placeholder="Ingrese sus Apellidos" formControlName="apellidoUsuario" required
                                            [ngClass]="{
                                                'is-invalid': agricultorSignupForm.controls['apellidoUsuario'].invalid && 
                                                             (agricultorSignupForm.controls['apellidoUsuario'].dirty || 
                                                              agricultorSignupForm.controls['apellidoUsuario'].touched) , 
                                                'is-valid':   agricultorSignupForm.controls['apellidoUsuario'].valid}" />
                                        
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['apellidoUsuario'].hasError('required')">
                                                    No puede dejar este campo vacío
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['apellidoUsuario'].hasError('minlength')">
                                                    Debe contener al menos 2 caracteres
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['apellidoUsuario'].hasError('maxlength')">
                                                    Debe contener como maximo 50 caracteres
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['apellidoUsuario'].hasError('pattern')">
                                                    Caracteres no permitidos
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="pais" class="letraRegistro" style="font-size: 1.4vh; font-weight: bolder;">Pais</label>
                                            <select (change)="ViewDep($event)" class="custom-select" formControlName="paisUsuario">
                                                <option value="" selected disabled>Selecciona un País</option>
                                                <option *ngFor="let pais of Paises" value={{pais.idPais}}> {{pais.nombrePais}}
                                                </option>
                                            </select>
                                            
                                        </div>

                                        <div class="form-group" *ngIf="this.ViewDepartamento">
                                            <label for="departamento" class="letraRegistro" style="font-size: 1.4vh; font-weight: bolder;">Departamento</label>
                                            <select (change)="ViewProv($event)" class="custom-select" formControlName="departamentoUsuario">
                                                <option value="" selected disabled>Selecciona un Departamento</option>
                                                <option *ngFor="let departamento of Departamentos" value={{departamento.idDepartamento}}> {{departamento.nombreDepartamento}}
                                                </option>
                                            </select>
                                                                   
                                        </div>

                                        <div class="form-group" *ngIf="this.ViewProvincia" >
                                            <label for="provincia" class="letraRegistro" style="font-size: 1.4vh; font-weight: bolder;">Provincia</label>
                                            <select  class="custom-select" (change)="ViewDist($event)" formControlName="provinciaUsuario" >
                                                
                                                <option value="" selected disabled>Selecciona una Provincia</option>
                                                <option *ngFor="let provincia of Provincias" value={{provincia.idProvincia}}> {{provincia.nombreProvincia}}
                                                </option>
                                            </select>
                                                                   
                                        </div>

                                        <div class="form-group" *ngIf="this.ViewDistrito" >
                                            <label for="distrito" class="letraRegistro" style="font-size: 1.4vh; font-weight: bolder;">Distrito</label>
                                            <select class="custom-select" formControlName="distritoUsuario" (change)="SelectIdDistrito($event)">
                                                <option value="" selected disabled>Selecciona un Distrito</option>
                                                <option *ngFor="let distrito of Distritos" value={{distrito.idDistrito}}> {{distrito.nombreDistrito}}
                                                </option>
                                            </select>
                                                                   
                                        </div>

                                        <div class="form-group">
                                            <label for="username" class="letraRegistro nombreRegistro" style="font-size: 1.4vh; font-weight: bolder;">Usuario</label>
                                            <input type="text" (input)="this.AlertDefault()" class="form-control" id="username" placeholder="Ingrese su Usuario para su cuenta" formControlName="usernameUsuario" required
                                            [ngClass]="{
                                                'is-invalid': agricultorSignupForm.controls['usernameUsuario'].invalid && 
                                                             (agricultorSignupForm.controls['usernameUsuario'].dirty || 
                                                              agricultorSignupForm.controls['usernameUsuario'].touched) , 
                                                'is-valid':   agricultorSignupForm.controls['usernameUsuario'].valid}" />
                                        
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['usernameUsuario'].hasError('required')">
                                                    No puede dejar este campo vacío
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['usernameUsuario'].hasError('minlength')">
                                                    Debe contener al menos 6 caracteres
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['usernameUsuario'].hasError('maxlength')">
                                                    Debe contener como maximo 20 caracteres
                                                </span>
                                            </div>                                            
                                        </div>

                                        <div class="form-group">
                                            <label for="email" class="letraRegistro" style="font-size: 1.4vh; font-weight: bolder;">Correo electrónico</label>
                                            <input type="email" (input)="this.AlertDefault()" class="form-control" id="email" placeholder="Ingrese su Correo Electrónico" formControlName="emailUsuario" required
                                            [ngClass]="{
                                                'is-invalid': agricultorSignupForm.controls['emailUsuario'].invalid && 
                                                              (agricultorSignupForm.controls['emailUsuario'].dirty || 
                                                              agricultorSignupForm.controls['emailUsuario'].touched) , 
                                                  'is-valid': agricultorSignupForm.controls['emailUsuario'].valid}">
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['emailUsuario'].hasError('required')">
                                                    No puede dejar este campo vacío
                                                </span>
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="text-danger" *ngIf="agricultorSignupForm.controls['emailUsuario'].hasError('email')">
                                                    Correo electrónico no válido
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="userpassword" class="letraRegistro" style="font-size: 1.4vh; font-weight: bolder;">Contraseña</label>
                                            <input type="password" class="form-control" id="userpassword" placeholder="Ingrese la Contraseña deseada" formControlName="passwordUsuario" required
                                            [ngClass]="{
                                                'is-invalid': agricultorSignupForm.controls['passwordUsuario'].invalid && 
                                                              (agricultorSignupForm.controls['passwordUsuario'].dirty || 
                                                              agricultorSignupForm.controls['passwordUsuario'].touched) , 
                                                  'is-valid': agricultorSignupForm.controls['passwordUsuario'].valid}"/>
                                                
                                                  <div class="invalid-feedback">
                                                      <span class="text-danger" *ngIf="agricultorSignupForm.controls['passwordUsuario'].hasError('required')">
                                                          No puede dejar este campo vacío
                                                      </span>
                                                  </div>
                                                  <div class="invalid-feedback">
                                                      <span class="text-danger" *ngIf="agricultorSignupForm.controls['passwordUsuario'].hasError('minlength')">
                                                          Debe contener al menos 8 caracteres
                                                      </span>
                                                  </div> 
                                                  <div class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="agricultorSignupForm.controls['passwordUsuario'].hasError('maxlength')">
                                                        Debe contener al menos 20 caracteres
                                                    </span>
                                                  </div> 
                                                  <div class="invalid-feedback">
                                                      <span class="text-danger" *ngIf="agricultorSignupForm.controls['passwordUsuario'].hasError('passwordnumber')">
                                                          Debe contener al menos un número
                                                      </span>
                                                  </div> 
                                                  <div class="invalid-feedback">
                                                      <span class="text-danger" *ngIf="agricultorSignupForm.controls['passwordUsuario'].hasError('passworduppercase')">
                                                          Debe contener al menos una letra mayúscula
                                                      </span>
                                                  </div> 
                                                  <div class="invalid-feedback">
                                                      <span class="text-danger" *ngIf="agricultorSignupForm.controls['passwordUsuario'].hasError('passwordsmallcase')">
                                                          Debe contener al menos una letra minúscula
                                                      </span>
                                                  </div>
                                                  <div class="invalid-feedback">
                                                      <span class="text-danger" *ngIf="agricultorSignupForm.controls['passwordUsuario'].hasError('passwordspecialcharacter')">
                                                          Debe contener al menos un carácter especial
                                                      </span>
                                                  </div> 
                                        </div>

                                        <div *ngIf="this.alert" class="alert alert-danger" role="alert">
                                            {{message}}
                                        </div>

                                        <input type="reset" value="Limpiar (:">

                                        <!--[disabled]="!agricultorSignupForm.valid-->
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary btn-block text-uppercase" >Regístrate</button>
                                        </div>
                                        <div class="mt-4 mb-0 text-center">
                                            <p class="mb-0">¿Tienes una cuenta? <a href="login.html"
                                                    class="text-info">¡Logueate!</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>